<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <ion-label>
      Bienvenido <span>{{ username }}</span>
    </ion-label>
    <ion-button *ngIf="piloto" [routerLink]="['/piloto']">Viajes</ion-button>
    <ion-button *ngIf="pasajero" [routerLink]="['/pasajero']">Buscar Viaje</ion-button>
  </div>
  <button class="back" (click)="cerrarSesion()">Cerrar Sesión</button>
</ion-content>
