<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recuperar Contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content" >
    <h1>Recuperar Contraseña</h1>
    <form>
      <mat-form-field>
        <mat-label>Nombre de usuario</mat-label>
        <input matInput required>
      </mat-form-field>
      <ion-button [routerLink]="['/login']" expand="block" color="success">Recuperar</ion-button>
    </form>
  </div>
  <button class="back" [routerLink]="['/login']">Atrás</button>

</ion-content>
